*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

.container{
    /* outline: 2px solid red; */
    width: 40%;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 5px;
    background-color: #ffebcd;
    padding: 20px;
}

.container .wrap{
    width: 100%;
    /* margin-left: 10%; */
    padding: 20px 0px;
    display: grid;
   justify-content: center;
}

.container .wrap input[type= "range"]{
    width: 400px;
    /* outline: 2px solid #000; */
}

#setting{
    margin-left: 40%;
}